<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:amq="http://activemq.apache.org/schema/core"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd">


    <!--指定spring扫描service注解的包-->
    <context:component-scan base-package="com.baihy.service"/>

    <!--配置ActiveMQConnectionFactory对象，指定url地址，认证的用户名和密码-->
    <!--原生的连接工厂-->
    <amq:connectionFactory id="amqConnectionFactory" userName="admin"
                           password="admin"
                           brokerURL="failover:(tcp://192.168.1.34:61616,tcp://192.168.1.34:61617,tcp://192.168.1.34:61618)?randomize=false"/>
    <!--配置池化的ConnectionFactory，为连接ActiveMQ的ConnectionFactory提供连接池-->
    <!--提供了池化的连接工厂-->
    <bean id="pooledConnectionFactory" class="org.apache.activemq.pool.PooledConnectionFactoryBean">
        <property name="connectionFactory" ref="amqConnectionFactory"/>
        <!--指定最大的connection连接数-->
        <property name="maxConnections" value="10"/>
    </bean>
    <!--配置有缓存的ConnectionFactory对象，session缓存大小可定制-->
    <!--是真实使用的连接工厂-->
    <bean id="connectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
        <property name="targetConnectionFactory" ref="pooledConnectionFactory"/>
        <!-- session的缓存空间为3，就是一个session一次可以发送或消费多少条消息 -->
        <property name="sessionCacheSize" value="3"/>
    </bean>

    <!--配置jmsTemplate对象-->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
        <!--配置默认的目的地，也可以在代码中指定。（选配）-->
        <property name="defaultDestinationName" value="spring-test"/>
    </bean>

</beans>